@include media(0, 479px) {
  .about-fork {
    background-size: cover;
    height: 1548px !important;
    padding-top: 25px;
    &__header {
      text-align: center;
    }
      &__header h1 {
        @include font(2.2rem,#ffffff,600);
        line-height: 48px;
        width: 290px;
        display: inline-block;
        margin-top: 30px;
        margin-bottom: 30px;
      }
    &__content {
      width: 240px;
      @include flex(column);
    }
      &__content > div {
        margin-bottom: 55px !important;
      }
      &__content div {
        width: 240px;
      }
        &__content div:last-child {
          margin-top: 20px !important;
        }
      &__footer h4 {
        display: none;
      }
      &__footer div {
        width: 280px;
      }
  }
}
@include media(479px, 767px) {
  .about-fork {
    background-size: cover;
    height: 1548px !important;
    padding-top: 40px;
    &__header {
      text-align: center;
    }
      &__header h1 {
        @include font(2.55rem,#ffffff,600);
        line-height: 55px;
        width: 460px;
        display: inline-block;
        margin-bottom: 70px;
      }
    &__content {
      width: 320px;
      @include flex(column);
    }
      &__content > div {
        margin-bottom: 65px !important;
      }
      &__content div {
        width: 310px;
      }
        &__content div:last-child {
          margin-top: 30px !important;
        }
      &__footer h4 {
        display: none;
      }
      &__footer div {
        margin-top: 20px;
        width: 352px;
      }
  }
}
@include media(767px, 1199px) {
  .about-fork {
    padding-top: 40px;
    max-height: 960px;
      &__header h1 {
        @include font(2.7rem,#ffffff,600);
        margin-bottom: 60px;
      }
    &__content {
      width: 700px;
      margin-left: 20px;
      margin-right: 20px;
    }
      &__content > div {
        margin-bottom: 50px;
      }
      &__content div {
        width: 320px;
      }
        &__content div:last-child {
          margin-top: 20px !important;
        }
      &__footer h4 {
        width: 650px;
      }
      &__footer div {
        width: 700px;
      }
  }
}
@include media(1199px, 10000px) {
  .about-fork {
    background-size: 100%;
    max-height: 950px;
    padding-top: 30px;
      &__header h1 {
        @include font(3rem,#ffffff,600);
        margin-bottom: 80px;
      }
    &__content {
      width: 1005px;
      margin-left: 90px;
      margin-right: 90px;
    }
      &__content > div {
        margin-bottom: 100px;
      }
      &__content div {
        width: 320px;
      }
      &__footer h4 {
        width: 860px;
      }
      &__footer div {
        width: 780px;
      }
  }
}

.about-fork {
  @include flex(column);
  width: 100%;
  height: 1144px;
  background-image: url("../img/about-fork-img.jpg");
  background-position-x: center;
  background-repeat: no-repeat;
    &__header h1 {
      text-align: center;
    }
  &__content {
    @include flex(row,space-between,wrap,flex-end);
  }
    &__content div {
      text-align: center;
      background-position: center;
      background-repeat: no-repeat;
    }
    &__smashing-logo {
      width: 165px;
      height: 43px;
      background-image: url("../img/smashing-logo.png");
    }
    &__codrops-logo {
      width: 148px;
      height: 50px;
      background-image: url("../img/codrops-logo.png");
    }
    &__w-logo {
      width: 64px;
      height: 64px;
      background-image: url("../img/w-logo.png");
    }
    &__pixel-logo {
      width: 227px;
      height: 28px;
      background-image: url("../img/pixel-logo.png");
    }
    &__cb-logo {
      width: 166px;
      height: 34px;
      background-image: url("../img/cb-logo.png");
    }
    &__tnw-logo {
      width: 108px;
      height: 34px;
      background-image: url("../img/tnw-logo.png");
    }
      &__content div:last-child {
        margin-top: 40px;
        @include font(0.85rem,#ffffff,600,trebuchet ms);
        line-height: 23px;
        font-style: oblique;
      }
    &__footer h4 {
      text-align: center;
      @include font(0.9rem, rgba(255, 255, 255, 0.5),400,Calibri);
      line-height: 25px;
    }
  &__footer {
    @include flex(column);
  }
    &__footer div {
      background-image: url("../img/sep.png");
      height: 2px;
    }
}
