$violet-color: rgb(182, 129, 244);
$dark-violet-color: rgb(77, 53, 102);
$gray-color: #707070;
$font-btn: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
