@import "mixins";
@import "variables";
@import "about-fork";
@import "pricing";
@import "rev-editor";

@include media(0, 479px) {
  .header {
    &__nav {
      padding: 25px 15px;
    }
      &__nav-logo {
        @include flex();
      }
        &__nav-text {
          display: none;
        }
      &__nav-divider {
        display: none;
      }
      &__nav-menu {
        display: none;
      }
        &__nav-sandwich {
          width: 36px;
          height: 51px;
          margin-bottom: -40px;
          background-image: url("../img/sandwich.png");
          filter: brightness(0) invert(1);
          background-repeat: no-repeat;
          cursor: pointer;
        }
        &__nav-sandwich:hover {
          width: 36px;
          height: 51px;
          margin-bottom: -40px;
          background-image: url("../img/cross.png");
          background-repeat: no-repeat;
        }
        &__nav-sandwich:hover ~ div {
          display: block;
          position: absolute;
          top: 91px;
          right: 0;
          width: 100%;
        }
        &__nav-mobile-menu:hover{
          display: block;
          position: absolute;
          top: 91px;
          right: 0;
          width: 100%;
        }
          &__nav-mobile-menu a {
            display: block;
            width: 100%;
            height: 50px;
            background: #444245;
            text-decoration: none;
            padding-top: 30px;
            padding-left: 30px;
            @include font(1.25rem, #ffffff, 500);
            border-bottom: 1px solid #9a9a9a;
          }
          &__nav-mobile-menu a:hover {
            color: $violet-color;
          }
          &__nav-mobile-menu a:hover:before {
            content: "I";
            font-size: 20px;
            position: relative;
            left: -32px;
            margin-right: -5.5px;
          }
      &__content h1 {
        @include font(3rem,#ffffff,700);
        margin: 110px 0 -10px;
      }
      &__content h2 {
        width: 280px;
        display: inline-block;
        margin-left: 15px;
        margin-right: 15px;
        @include font(1.45rem,$violet-color,300,Calibri);
        text-transform: capitalize;
      }
      &__content h3 {
        @include font(1rem,$gray-color);
        margin-left: 15px;
        margin-right: 15px;
      }
      &__content button {
        width: 290px;
        height: 45px;
      }
  }
}
@include media(479px, 767px) {
  .header {
    &__nav {
      padding: 25px;
    }
      &__nav-logo {
        @include flex();
      }
      &__nav-divider {
        display: none;
      }
      &__nav-menu {
        display: none;
      }
        &__nav-sandwich {
          width: 36px;
          height: 51px;
          margin-bottom: -40px;
          background-image: url("../img/sandwich.png");
          filter: brightness(0) invert(1);
          background-repeat: no-repeat;
          cursor: pointer;
        }
        &__nav-sandwich:hover {
          width: 36px;
          height: 51px;
          margin-bottom: -40px;
          background-image: url("../img/cross.png");
          background-repeat: no-repeat;
        }
        &__nav-sandwich:hover ~ div {
          display: block;
          position: absolute;
          top: 91px;
          right: 0;
          width: 100%;
        }
        &__nav-mobile-menu:hover{
          display: block;
          position: absolute;
          top: 91px;
          right: 0;
          width: 100%;
        }
          &__nav-mobile-menu a {
            display: block;
            width: 100%;
            height: 50px;
            background: #444245;
            text-decoration: none;
            padding-top: 30px;
            padding-left: 30px;
            @include font(1.25rem, #ffffff, 500);
            border-bottom: 1px solid #9a9a9a;
          }
          &__nav-mobile-menu a:hover {
            color: $violet-color;
          }
          &__nav-mobile-menu a:hover:before {
            content: "I";
            font-size: 20px;
            position: relative;
            left: -32px;
            margin-right: -5.5px;
          }
      &__content h1 {
        @include font(3rem,#ffffff,700);
        margin: 110px 0 -10px;
      }
      &__content h2 {
        @include font(1.7rem,$violet-color,300,Calibri);
        text-transform: capitalize;
        width: 410px;
        display: inline-block;
        margin-left: 25px;
        margin-right: 25px;
      }
      &__content h3 {
        @include font(1rem,$gray-color);
        margin-left: 25px;
        margin-right: 25px;
      }
      &__content button {
        width: 390px;
        height: 60px;
        margin-top: 452px !important;
      }
  }
}
@include media(767px, 1199px) {
  .header {
    &__nav {
      @include flex(row,space-between,wrap);
      padding: 20px;
    }
      &__nav-logo {
        @include flex();
        order: 1;
      }
      &__nav-divider {
        display: none;
      }
      &__nav-menu {
        @include flex(row, center);
        order: 3;
        width: 100%;
        margin-top: 20px;
      }
        &__nav-menu a:last-child {
          margin-right: 0;
        }
      &__nav-buy {
        order: 2;
      }
      &__nav-hover-menu {
        display: none;
      }
      &__content h1 {
        @include font(5rem,#ffffff,700);
        margin: 90px 0 -10px;
      }
      &__content h2 {
        @include font(1.9rem,$violet-color,300,Calibri);
      }
      &__content h3 {
        @include font(1rem,$gray-color);
      }
      &__content button {
        width: 390px;
        height: 60px;
      }
  }
}
@include media(1199px, 10000px) {
  .header {
    &__nav {
      padding: 30px 90px;
    }
      &__nav-logo {
        @include flex();
      }
      &__nav-divider {
        flex-grow: 1;
      }
      &__nav-hover-menu  {
        display: none;
      }
      &__content h1 {
        @include font(5rem,#ffffff,700);
        margin: 90px 0 -10px;
      }
      &__content h2 {
        @include font(1.9rem,$violet-color,300,Calibri);
      }
      &__content h3 {
        @include font(1rem,$gray-color);
      }
      &__content button {
        width: 390px;
        height: 60px;
      }
  }
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
}
.header {
  &__nav {
    @include flex(row, space-between);
    background: #29272a;
  }
    &__nav-logo:hover > div {
      filter: brightness(0) invert(1);
      cursor: pointer;
    }
      &__nav-icon {
        width: 43px;
        height: 41px;
        background-image: url("../img/logo.png");
      }
      &__nav-text {
        @include font(1.25rem, $violet-color, 500);
        margin-left: 15px;
      }
      &__nav-menu a {
        margin-right: 48px;
        @include font(1.2rem, $violet-color, bold);
        text-decoration: none;
      }
      &__nav-menu a:hover {
        color: #ffffff;
      }
      &__nav-buy a {
        @include flex(row,center);
        width: 144px;
        height: 38px;
        background: $violet-color;
        border-radius: 25px;
        @include font(1.2rem, #ffffff, bold);
        text-decoration: none;
      }
      &__nav-buy a:hover {
        background: #ffffff;
        color: $violet-color;
        border: 1px solid $violet-color;
        box-sizing: border-box;
      }
      &__nav-mobile-menu {
        display: none;
      }
  &__content {
    width: 100%;
    height: 800px;
    background-image: url("../img/fork-app-img.jpg");
    background-position-x: center;
    text-align: center;
    padding-top: 10px;
  }
    &__content button {
      background: $violet-color;
      border: none;
      border-radius: 30px;
      @include font(1.3rem,#ffffff,700);
      margin-top: 475px;
      cursor: pointer;
    }
    &__content button:hover {
      background: #ffffff;
      color: $violet-color;
      border: 1px solid $violet-color;
      box-sizing: border-box;
    }
    &__content h4 {
      @include font(1rem,$gray-color);
    }
}
